
h1, h2, h3, h4, h5 {
  margin-top: 0;
}


body {
  font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
  font-size: 13px;
  line-height: 1.2em;
}



ul, li {
  list-style: none;
}

input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}


section {
  padding: 30px 0;
}
.footer-main {
 min-height: 200px;
  padding: 30px 0;
  z-index: 100;

}
.footer-main ul {
  margin: 0;
  padding: 0;
}
.footer-main li {
  line-height: 1.8em;
  list-style: none;
}

  .footer-main ul {
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-main h4 {
    text-align: center;
  }
.search_bar{
  text-align: center;


}

#categories li{
display: inline-block;
padding:5px;
padding-right: 20px;

font-size: 14px;
}

.navbar {
  width: 100%;
  margin: auto;
 border-bottom:1px solid seagreen;
  background: seagreen;
  color: #ffffff;
}

.navbar a {
  color: #fff !important;
  font-size: 16px;
  letter-spacing: -0.5px;
}

/* line 23, ../scss/layouts/_nav.scss */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background: #00aff0 !important;
  color: #fff !important;
}

/* Footer */
/* line 3, ../scss/layouts/_footer.scss */
.footer-main {
  background: #2b5464;
  color: #ffffff;
  border-top: 5px solid seagreen;
  min-height: 200px;
  padding: 30px 0;
  z-index: 100;
}
/* line 10, ../scss/layouts/_footer.scss */
.footer-main a {
  color: #ffffff;
}
/* line 14, ../scss/layouts/_footer.scss */
.footer-main ul {
  margin: 0;
  padding: 0;
}
/* line 19, ../scss/layouts/_footer.scss */
.footer-main li {
  line-height: 1.8em;
  list-style: none;
}
.search_section{

  background: url("../img/1.PNG");
  color:#ffffff;

}
.fom{
  height: 140px;
}

.fom{
 font-style:italic;
}




.block, .block-primary, .block-secondary, .block-light, .block-dark {
  padding: 15px;
  margin-bottom: 15px;
}
/* line 8, ../scss/modules/_blocks.scss */
.block h3, .block-primary h3, .block-secondary h3, .block-light h3, .block-dark h3 {
  margin-top: 0;
  padding-top: 0;
}
/* line 13, ../scss/modules/_blocks.scss */
.block iframe, .block-primary iframe, .block-secondary iframe, .block-light iframe, .block-dark iframe {
  width: 100%;
}

/* line 18, ../scss/modules/_blocks.scss */
.block-primary {
  background: #00aff0;
  color: #ffffff;
}

/* line 23, ../scss/modules/_blocks.scss */
.block-secondary {
  background: #7fba00;
  color: #ffffff;
}

/* line 28, ../scss/modules/_blocks.scss */
.block-light {
  background: #e4eef2;
  color: #666666;
}

/* line 33, ../scss/modules/_blocks.scss */
.block-dark {
  background: #2b5464;
  color: #ffffff;
}

/* line 38, ../scss/modules/_blocks.scss */
.block-center {
  text-align: center !important;
}

/* line 42, ../scss/modules/_blocks.scss */
.block-image img {
  width: 100%;
}

/* line 46, ../scss/modules/_blocks.scss */
.block-border {
  border: 1px solid #cccccc;
}

/* line 51, ../scss/modules/_blocks.scss */
.block-primary-head h3 {
  padding: 15px 5px 15px 10px;
  background: #00aff0;
  color: #ffffff;
  margin: 0;
  font-size: 18px;
}
/* line 58, ../scss/modules/_blocks.scss */
.block-primary-head .block-content {
  border: 1px solid #00aff0;
  padding: 10px;
}

/* line 65, ../scss/modules/_blocks.scss */
.block-icon h3 {
  padding: 0;
  margin: 0;
}
/* line 70, ../scss/modules/_blocks.scss */
.block-icon .icon {
  float: left;
  width: 20%;
  margin-top: 10px;
}
/* line 76, ../scss/modules/_blocks.scss */
.block-icon .icon-content {
  float: left;
  width: 70%;
}
.theprocess{
	 background-color:#006699;
}
.theprocess h2{
color:#fff;}
.job{
	color:#9999999;
}

.theprocess .block{
	border-radius:9%;
}

.here{
  background:seagreen;
  color:#fff;
}
.dropdown-menu{
  background: seagreen;
  color: #fff;
}

.dropdown-menu > li >a:hover{
  text-decoration: underline;
  background:seagreen;
}
.dropdown-menu > li:focus{
  background: seagreen;
  color: #fff;
}

#sjob{
  color:black;
}
.fom{

}


/* Sidebar */
#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    /*opacity: 0.9;
}

/* Always take up entire screen */
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;

}


/* Change with of sidebar from 0 to 250px */
#wrapper.menuDisplayed #sidebar-wrapper {
    width: 250px;
}

/* Since we added left padding, we need to shrink the width by 250px */
#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 250px;
}


/* Sidebar styling - the entire ul list */
.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    
}
a{

}
.help-block{
  color:red;
}